/vendor
/node_modules
Homestead.yaml
.env
.vagrant
/nbproject
.DS_Store
.idea/workspace.xml
artisan.bat
/.idea/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
idb.sql


#dummie comment
